<div class="page-header">
  <h2 class="page-title">Available Journalists</h2>
  <%= link_to "Add Journalist", new_journalist_path, method: :get, class: "button"  %>
</div>
<div class="page-content">
  <table class="table-minimal">
    <theader>
    <th>Name</th>
    <th>Publications</th>
    <th>Topics</th>
    <th>Total Pitches</th>
    <th>Acceptance Rate</th>
    </theader>
    <ul>
      <%= render @journalists %>
    </ul>
  </table>
</div>
