<div class="page-header">
  <div class="page-title">
    <h2>Add New Journalist</h2>
  </div>
  <div class="header-button">
    <%= link_to "Import Journalists", new_journalist_path, class:"button" %>
  </div>
</div>
<div class="page-content">
  <div class="form">
    <%= render "form", journalist: @journalist %>
  </div>
  <div class="reminder">
    <div class="reminder-header">
      <%= image_tag "/bulb.png", class:"reminder-image" %>
      <h4>Journalist Tips</h4>
    </div>
    <div class="reminder-content">
      <p>Complete the form below to add new journalists</p>
      <p>Be sure to include the journalit's correct email address!</p>
      <p>Have more than one journalist? Click the "upload journalists" button
      above to import multiple journlaists at once.</p>
    </div>
  </div>
</div>
