<div class="page-header">
  <h2 class="page-title">Pitches made to <%= @journalist.full_name %></h2>
  <div class="header-button">
  </div>
</div>

<div class="page-content">
  <table class="table-minimal">
    <theader>
    <th>Pitch date</th>
    <th>Client</th>
    <th>Announcement</th>
    <th>Pitch subject</th>
    <th>Pitch status</th>
    </theader>
    <%= render partial: "pitch", collection: @pitches %>
  </table>
</div>
