<div class="page-header">
  <h2 class="page-title">Pitches</h2>
  <div class="header-button">
    <% if @announcement.present? %>
      <%= link_to "Create new pitch",
        new_batch_pitch_path(announcement_id: @announcement.id),
        method: :get, class: "header-button" %>
    <% elsif @client.present? %>
          <%= link_to "Create new pitch",
            new_batch_pitch_path(client_id: @client.id), method: :get,
            class: "header-button" %>
    <% else %>
      <%= link_to "Create a new pitch",
        new_batch_pitch_path, method: :get, class: "button" %>
    <% end %>
  </div>
</div>
<div class="page-content">
  <%= render "layouts/pitch_table", table_data: @pitches %>
</div>
