<div class="page-header">
  <h2 class="page-title">Clients</h2>
  <div class="header-button">
    <%= link_to "Add client", new_client_path, method: :get,
      class:"button new-client-button" %>
  </div>
</div>

<div class="page-content">
  <div class="new-client">
    <%= render "clients/form", client: @client %>
  </div>

  <table class="table-minimal">
  <theader>
    <tr>
      <th>Client</th>
      <th>Announcements</th>
      <th>Pitches</th>
    </tr>
  </theader>
    <%= render @clients %>
  </table>
</div>
