<div class="page-header">
  <h2 class="page-title"><%= @client.name %></h2>
    <div class="header-button">
    </div>
</div>

<div class="page-content">
  <table class="table-minimal">
    <theader>
    <th>Client</th>
    <th>Announcement</th>
    <th>Date</th>
    <th>Pitches</th>
    <th>Acceptance Rate</th>
    </theader>
  </table>
</div>
