input.coverage-topics{
  float:left;
}

label.coverage-topics{
}

input.journalist{
  float:left;
}

.form{
  @include span-columns(8);
}

.reminder{
  @include span-columns(4);
  border: 1px solid #DADFE1;
  padding: 10px;
}

.selection-headers{
}

.topic-header, .publication-header, .journalist-header{
  @include span-columns(4 of 8);
}

.submit-button{
  margin-top: 20px;
}

textarea{
  height: 300px;
}

input.submit-button{
  text-transform: uppercase;
  width: 100%;
}


.topics-list{
  @include span-columns(4 of 8);
  border: 1px solid #DADFE1;
  padding: 10px;
}

.journalist-list, .publication-list{
  @include span-columns(4 of 8);
  border: 1px solid #DADFE1;
  padding: 10px;
}

select.pitch-status{
  margin: 0px;
  height: 50px;
}

select.client-list{
  height: 40px;
  width: 250px;
}

.login-form{
  float: left;
  width: 400px;
}
