input.coverage-topics {
  float:left;
}

input.publications {
  float:left;
}

input.journalist {
  float:left;
}

.form {
  @include span-columns(8);
}

.client-form, .journalist-form {
  @include span-columns(4);
}

form.new_client {
}

.reminder {
  @include span-columns(4);
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #DADFE1;
}

.client-reminder {
  @include span-columns(4);
  border: 1px solid #DADFE1;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.journalist-reminder {
  @include span-columns(8);
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #DADFE1;
}

.selection-headers {
}

.topic-header, .publication-header, .journalist-header {
  @include span-columns(4 of 8);
}

.submit-button {
  margin-top: 20px;
}

textarea {
  height: 300px;
  background-color: #ffffff;
}

input.submit-button {
  text-transform: uppercase;
  width: 100%;
}

.topics-list {
  @include span-columns(4 of 8);
  border: 1px solid #DADFE1;
  padding: 10px;
  background-color: #ffffff;
}

.journalist-list, .publication-list {
  @include span-columns(4 of 8);
  border: 1px solid #DADFE1;
  padding: 10px;
  background-color: #ffffff;
}

select.pitch-status {
  margin: 0px;
  height: 50px;
}

select.client-list {
  height: 40px;
  width: 250px;
  background-color: #ffffff;
}

input.client-name {
  @include span-columns(8 of 12);
}

input.client-button {
  margin: 0 0 0 10px;
}

.hidden {
  display: none;
}

.new-client {
  @include span-columns(12);
  border: 1px solid #c4c4c4;
  background-color: #ededed;
  padding: 30px;
  margin: 10px 0 30px 0;
  display: none;
}

.import-journalists {
  @include span-columns(12);
  border: 1px solid #c4c4c4;
  background-color: #ededed;
  padding: 30px;
  margin: 10px 0 30px 0;
  display: none;
}

.hide-me {
  text-align: center;
}

.reminder-header {
  margin-bottom: 10px;
  height: 50px;
  h4 {
    padding-top: 10px;
  }
}

.reminder-image {
  width: 50px;
  float: left
}

.reminder-content {
  clear: both;
  padding-left: 20px;
}
