body {
  margin: 0px;
}

#outer-container {
  @include outer-container;
  margin-top: 20px;
}

.page-content{
  margin-top: 20px;
}

a.home-button{
  text-decoration: none;
  color: #333333;
}

.journalists{
  @include span-columns(6);
}
