.page-navigation:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.page-navigation{
  background-color: #f2f2f2;
  box-shadow: 1px 0px 2px #6C7A89;
}

.page-header{
  margin: 20px 0 25px 0;
  @include span-columns(12);
}

.page-title{
  @include span-columns(6 of 12);
}

.header-button{
  @include span-columns(6 of 12);
  float: right;
}

.header-field{
  float: right;
}

.header-name{
  position: relative;
  top: 12px;
}

.app-name{
  text-transform: uppercase;
  font-size: 25px;
  padding: 0px;
  margin: 5px 0 0 70px;
  float: left;
}

.page-navigation:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.page-navigation{
  background-color: #f2f2f2;
  box-shadow: 1px 0px 2px #6C7A89;
}

.search-bar{
  float: right;
  margin-top: 7px;
  padding: 0px;
  input{
    width: 200px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    float:right;
  }
  button{
    float:right;
    margin-right: 40px;
    height: 30px;
    font-size: 10px;
  }
}

.nav-actions{
  float: right;
  margin: 10px 30px 0 0;
}

.button{
  background-color: #477DCA;
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  border-radius: 3px;
  float: right;
  &:hover{
    background-color: #2C5999;
    color: #ffffff;
  }
}

