<table class="table-minimal">
  <thead>
    <tr>
      <th>Client</th>
      <th>Announcements</th>
      <th>Pitches</th>
    </tr>
  </thead>
  <tbody>
    <%= render @clients %>
  </tbody>
</table>
