<% if signed_in? %>
<div class="navigation-bar">
  <div class="navigation-content">
  <div class="app-name">
    <%= link_to "Pitchfort", root_path, class:"home-button" %>
  </div>
    <div class="nav-actions">
      Signed-in as <%= current_user.full_name %>
  </div>
</div>
</div>
<% else %>
<div class="navigation-bar logged-out">
  <div class="navigation-content logged-out">
  <div class="app-name">
    <%= link_to "Pitchfort", new_user_path, class:"logo" %>
  </div>
  <% if signed_in? %>
    <div class="search-bar">
      <button>Search</button>
      <input type="text" name="search" />
  </div>
<% else %>
    <div class="nav-actions">
  </div>
<% end %>
</div>
</div>
<% end %>
