<table class="table-minimal">
  <theader>
  <tr>
    <th>Client</th>
    <th>Announcement</th>
    <th>Pitch Subject</th>
    <th>Journalist</th>
    <th>Publications</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </theader>
  <%= render table_data %>
</table>
